<ul>
  <div style="text-align:center">
    <h1>Happy English</h1>
    <h2>Welcome, admin!</h2>
  </div>
  <div style="text-align:center">
    <br>
  <button type="button" class="btn btn-outline-dark" (click)="wantToAddNewWords()">Add new words</button>
  </div>
  <br>
  <div style="text-align:center">
    <button type="button" class="btn btn-outline-dark" (click)="wantToAddNewGroups()">Choose words for new groups</button>
  </div>
  <br>
  <div style="text-align:center">
    <button type="button" class="btn btn-outline-dark" (click)="wantToAddNewTask()">Add new tasks</button>
  </div>
  <div *ngIf="want" style="text-align:center">
    <br>
    <button type="button" class="btn btn-dark" (click)="taskText()">Text</button>
    <button type="button" class="btn btn-dark" (click)="taskVideo()">Video</button>
    <button type="button" class="btn btn-dark" (click)="taskGrammar()">Grammar</button>
  </div>
</ul>
